a{
	text-decoration: none;
	color: white;
    font-weight: bold;
}
b{
    color: rgb(166, 124, 241);
}

body{
	margin: 0;
}

a:hover{
	color:#ffccd7;
	transition: 0.5s;
}

section{
	width:80%;
	display:flex;
	flex-direction: column;
	margin: auto;
}

h2{
	display: inline;
	text-transform: uppercase;
    padding: 16px;
	
}

.text-left{
	text-align:left;
}

/*  HEADER   */

#home{
	padding-top:10px;
	height: 50vh;
	color: #fd3e4f;
	background-image: url("https://www.99images.com/photos/wallpapers/creative-graphics/black-aesthetic-tumblr-laptopandroid-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-zzemp.jpg?v=1614254348");
	background-size:cover;
	background-position: right;
	opacity:0.8;
	background-attachment: fixed;
	font-family: Helvetica, sans-serif;
	background-repeat: no-repeat;


}

/* how all nav should be formated */
nav ul{
	margin-left:-3.75%;
}
nav ul li{
	margin-top:40;
	display:inline;
	padding:10px;
}

/* Changes to Medhavi Darshan */

#name{
	font-weight: bolder;
	font-size: 5rem;
	margin-top: 5vh;
	color: #795548;
}

/* Links to social media */
#links img{
	width:50px;
	border-radius: 30px;
}

#links a:hover{
	opacity:0.8;
	transition: 0.25s;
}

.text-center{
	text-align: center;
}

/* MAIN */
main{
	background-color: rgba(255, 205, 213, 0.4);
	color:#e37272;
	font-family: Palatino Linotype;
}


.margin{
	margin-top: 7vh;
}

.icon{
	color:#5a3535d1;
	font-size: 30px;

}

.section-heading{ 
	background-color: rgba(166, 124, 241, 0.4);
	color: white;
    font-family: Trebuchet MS;
    width:auto;
    margin:auto;
    font-size: 1.5rem;
    line-height: 2rem;
    padding:5px;
    margin-bottom: 7vh;
}

.extra-padding{
	padding: 20px;
}

/* About Section */

#about{
	margin-top:-6vh;
	position: relative;
}

#about-pic img{
	border-radius: 60%;
    width: 34%;
    max-width: 250px;
    min-width: 100px;
    opacity: 1;
    border: 0.5rem solid #ff8d8d;
    box-shadow: 0 0 4px 6px white;

}

ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
ul li:before {
	content: "☸";
	position: absolute;
	left: 0;
	color:#e91e63;
}

#facts-abt-me{
	width:80%;
}


/* Skills */ 

.skills-display{
	width: 70%;
	height:auto;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin: auto;

}

.skill-total{
	width: max-content;
	height:5vh;
	background-color: #d4d4d4fa;
    border-radius: 25px;
	padding:0 4%;
	line-height:2em;
    margin: 10px;
}

.skills-table{
	border: 3px dotted white;
	padding: 0;
}

.skills-table th{
	background-color:white;
	border-right:3px dotted white;

}

.skills-table td:first-child{
	border-right:3px dotted white;
}

.skills-table div:hover{
	background-color:#ffccd7;
	transition: 0.5s;
}

.wrap-divs{
	display: flex;
	flex-wrap: wrap;
}

.language{
	background-color: #2838ff52;

}

.web-scrapping{
	background-color: #28d7ff52;	
}

.frontend{
	background-color: #ff284652;
}

.data-visualization{
	background-color: #28ff6a52;

}

.machine-learning{
	background-color: #fff82852;
}

.text{
	color: white;
	font-family: sans-serif;
	padding-top: 5px;
	text-align: center;

}

/*Portfolio */
#pub1{
	margin:auto;
	display: flex;
}

#research-div{
	width:40%;
	margin:2%;
	padding: 2%;
}
#research-exp img{
	width:100%;
	border-radius: 3%;
	border:0.5em solid #fd3e4f;
}

#research-exp img:hover{
	box-shadow: 1em 1em 1em white;
	
}
/* .portfolio-display{
	margin: auto;
	width: 60%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 450px;
}

.project{
	position: relative;
}

.project img{
	max-width: 200px;
	max-height:200px;
	border-radius: 4vh;
	display: block;
	opacity: 0.8;
	margin: 10px;
}

.overlay{
	opacity: 0;
	transition: .5s ease;
	position: absolute;
}

.project-text{
	background-color: white;
	color:#e37272;
	font-family: Palatino Linotype;
	margin-top: -17vh;
}

.project:hover .overlay{
	opacity: 1;
}

.project img:hover{
	opacity: 0.5;
} */

/*INTERNSHIPS*/

.timeline{
	position: relative;
	width: 60%;
	margin: auto;
}

.timeline-box{
	position: relative;
	width:40%;
	left:5%;
	min-height: 150px;
	margin:5px;
}

.timeline-box:nth-child(2n){
	left:53%;
}


.timeline-box:nth-child(2n+1)::after{
	content:'';
	position: absolute;
	top:15%;
	border-radius: 50%;
	background-color: palevioletred;
	width: 0.5rem;
	height: 0.5rem;
	right:-13%;
	z-index:1;
}


.timeline-box:nth-child(2n)::after{
	content:'';
	position: absolute;
	top:15%;
	border-radius: 50%;
	background-color: palevioletred;
	width: 0.5rem;
	height: 0.5rem;
	left:-10%;
	z-index:1;
}


.timeline-divider{
	position: absolute;
	height: 85%;
	border: 3px dashed #9eead2;
	width:0px;
	top:3%;
	left:50%;
}

.timeline-traveller{
	position: sticky;
	top:15%;
	transform: rotate(90deg);
	z-index:2;
}

/* Hackathons */

#hackathon{
	margin: auto;
	height:max-content;
	width:max-content;
	padding-bottom: 3em;
}

#all-hacks{
	display: flex;
	flex-wrap: wrap;

}

#main-hack{
	background-color:#2c7383;
	line-height: 5em;
	height:15em;
	width:15em;
	border-radius:100%;
	text-align: center;
	margin: auto;
	padding: 10px;
}

#main-hack h1{
	font-family:'Trebuchet MS';
	font-size:3em;
	color:rgb(255, 255, 255);
}
.side-by-side{
	display: flex;
	width: max-content;
	padding: 10px;

}

#competition{
	background-color:hsla(128, 54%, 78%, 1);
	height:11em;
	width:11em;
	line-height: 10em;
	border-radius:100%;
	opacity: 0.8;	
	text-align: center;
	word-wrap: normal;
	margin: auto;
	padding: 2%;
}

#competition span{
	display: inline-block;
	vertical-align: middle;
	line-height: 1.5em;
}

#competition h2{
	font-family:'Trebuchet MS';
	font-size:1.25em;
	
}

/* POSITION OF RESPONSIBILITY */

#por{
	width:80%;
	align-items:center;
	width:65%;
	margin:auto;
}
/*CONTACT HEADING */

#contact{
	height: auto;
	width: 100%;
	background: linear-gradient(to right top, #8638516b, #007eff69);
	padding:40px 0px 30px 0px;
	margin-top:-17px; 
}

.contact-body{
    display: flex;
    height: auto;
    text-align: center;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 5%;
}

.put-margin{
	margin-top:8vh;
	margin-left: 5vh;
	padding: 10px;
	text-align: left;
}

.message{
	border:0;
	background:transparent;
	border-bottom: 2px solid #7e2c83;
	padding: 10px;
	line-height: 1.4vh;
	font-family: Lucida;
	margin-bottom: 10px;
}

input{
	width:269.6px;
}


button[type="submit"]{
	color: white;
    font-weight: 600;
    font-family: Lucida Sans;
    background: transparent;
    padding: 7px;
    margin-top: 15px;
    border: 2px solid white;
    text-transform: uppercase;
}

#contact-details{
	color: white;
    font-family: Lucida Sans;
    width: 40%;
    margin-left: 10%;
}

/* Changes for smaller screens */
@media (max-width: 800px) {
	.timeline-box:nth-child(2n)::after{
		left:-12%;
	}

	.timeline{
		width:75%;
	}

	img{
		width:70%;
	}

	#research-div{
		width:50%;
		margin:-2%;
	}
	
	
}